[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tenants = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pytest = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.13"
